[Unit]
Description=OSO LED indicator
After=seeed-voicecard.service

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/python3 /home/pi/oso_led.py

[Install]
WantedBy=multi-user.target
